sudo: false
language: python
python: "2.7"
before_install:
cache:
  directories:
    - buildout-cache
install:
  - mkdir -p buildout-cache/{eggs,downloads}
  - python bootstrap-buildout.py -c travis.cfg
  - bin/buildout -N -t 5 -c travis.cfg
script: bin/test
after_success:
  - bin/createcoverage run bin/test
  - pip install -q coveralls
  - coveralls
