.chart {
    height: 150px;
    vertical-align: bottom;
}

.bar {
    position: relative;
    width: 40px;
    display: block;
    vertical-align: bottom;
    min-height: 1px;
}

.bar span.label {
    width: 34px;
    font-size:80%;
    background: white;
    padding: 1px;
    color: black;
    border: solid grey 1px;
    position: absolute;
    bottom: 4px;
}
