#survey-globalnav {
background:none repeat scroll 0 0 #DDDDDD;
clear:both;
font-size:80%;
margin:0 0 1em;
margin-bottom: 0;
}

#survey-globalnav li {
 display:inline;
}

#survey-globalnav li a {
    display: inline-block;
    padding: 0.5em 1em 2em 1em;
    background: #ddd;
    min-width: 6em;
    white-space: normal;
    /*TODO: Once we have removed the whitespace from the nav template, this can be put back*/
    /*border-bottom: 0.1em solid White;*/
    border-right: 0.1em solid white;
}

#survey-globalnav .selected a,
#survey-globalnav a:hover {
    background: #205c90;
    color: White;
}
#survey-globalnav .selected a:hover {
    background: #ddd;
    color: #205c90;
}

textarea {width: 100%}

